/.gradle/
/.idea/
/build/
/data/
logs/
/out/
*.log
*.class
solr-system.log*
heapdump*
configCrawl.groovy
duplicates.list.csv

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
